<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas Desaparecidas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <img class="imagem" src="static/img/novors.png" width="45px" height="10px" alt="Logo RS">
         
        </div>
          <ul class="ul">
            <li> <a href="home/index.html"> home </a> </li>
            <li> <a href="#"> Quem somos </a> </li>
            <li> <a href="#"> Doações </a> </li>
            <li> <a href="#"> serviços </a> </li>
            <li> <a href="#"> contato </a> </li>
            <div class="close-icon">
              <span class="material-symbols-outlined">
    close
    </span>
            </div>
          </ul>
          <div class="menu-icon">
            <span class="material-symbols-outlined">
    menu
    </span>
          </div>
      </nav>
    <div class="container1">
        <h1>Cadastro de Pessoas Desaparecidas</h1>
        <form method="POST" action="{{ url_for('cadastrar_desaparecido_post') }}">
    Seu Nome: <input type="text" name="seu_nome"><br>
    Nome Desaparecido: <input type="text" name="nome_desaparecido"><br>
    Região: <input type="text" name="regiao"><br>
    Idade: <input type="text" name="idade"><br>
    Seu Telefone: <input type="text" name="seu_telefone"><br>
    <input class="cadDesa" type="submit" value="Submit">
</form>

    </div>
</body>
</html>
