<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoa Resgatada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav>
        <div class="logo">
            
            <a href="http://127.0.0.1:5000/#">
              <img class="imagem" src="static/img/novors.png"  width="45px" height="10px" alt="Logo RS">  
            </a>
        </div>
          <ul class="ul">
            <li> <a href="home/index.html"> home </a> </li>
            <li> <a href="#"> Quem somos </a> </li>
            <li> <a href="#"> Doações </a> </li>
            <li> <a href="#"> serviços </a> </li>
            <li> <a href="#"> contato </a> </li>
            <div class="close-icon">
              <span class="material-symbols-outlined">
   
    </span>
            </div>
          </ul>
          <div class="menu-icon">
            <span class="material-symbols-outlined">
    menu
    </span>
          </div>
      </nav>
    <div class="container">
    <h1>Cadastro de Pessoa Resgatada</h1>
<form method="POST" action="{{ url_for('cadastrar_resgatado') }}">
    Nome: <input type="text" name="nome"><br>
    Região: <input type="text" name="regiao"><br>
    Nome do Pai: <input type="text" name="nome_pai"><br>
    Nome da Mãe: <input type="text" name="nome_mae"><br>
    Irmãos: <input type="text" name="irmaos"><br>
    Idade: <input type="text" name="idade"><br>
    Filhos: <input type="text" name="filhos"><br>
    <input class="cadReg" type="submit" value="Cadastrar">
</form>
</div>
<hr>
<footer>
  <div class="informacao">® 2024 SOS RIO GRNADE DO SUL. Plataforma Gratuita de ajuda as vitimas das enchentes no Rio Grande Do Sul. <br>
    Rua josé de Rosa, 470 - Santa Angelina, Agudos - SP, 18682-270, Brasil e CNPJ 12.345.678/0001-99</p><br>
      </div>
</footer>
</body>
</html>