<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>S.O.S. RS</title>
</head>
 
<body>
    <nav>
        <div class="logo">
            <img class="imagem" src="static/img/novors.png" width="45px" height="10px" alt="Logo RS">
         
        </div>
          <ul class="ul">
            <li> <a href="home/index.html"> home </a> </li>
            <li> <a href="#"> Quem somos </a> </li>
            <li> <a href="#"> Doações </a> </li>
            <li> <a href="#"> serviços </a> </li>
            <li> <a href="#"> contato </a> </li>
            <div class="close-icon">
              <span class="material-symbols-outlined">
    close
    </span>
            </div>
          </ul>
          <div class="menu-icon">
            <span class="material-symbols-outlined">
    menu
    </span>
          </div>
      </nav>
    
      <h3>SOS RIO GRANDE DO SUL</h3>
      <p class="text">Ajude a organizar as pessoas que estão nos abrigos, <br>e encontrar as pessoas que ainda infelismente estão desaparecidas <br>
        nosso objetivo é deixar tudo organizado com o intuito de ajudar os que mais precisam
        o povo precisa de você! <br><br>
        <h1>
            "Se a dor do outro não doer em mim...
            Eu desconheço o amor."
        </h1> 

      </p>
        <img class="mapinha" src="static/img/sos.png" alt="">
    <div class="container">
        <h1>Escolha uma das opções</h1>
        <div class="button-container">
            <a href="{{ url_for('cadastrar_resgatado') }}" class="button2">Registrar pessoas do abrigo</a>
            <a href="{{ url_for('cadastrar_desaparecido') }}" class="button3">Cadastrar Pessoas Desaparecidas</a>
            <a href="{{ url_for('mostrar_tabelas') }}" class="button1">Mostrar Tabelas de desaparecidos e pessoas salvas </a>
        </div>
    </div>
    <footer>
 
        <a href="https://web.whatsapp.com/">
          <img src="contato.png">
          <p>Whatsapp</p>
        </a>
        <a href="https://www.instagram.com/">
          <img src="contato2.png">
          <p>Instagram</p>
        </a>
        <a href="https://www.facebook.com/">
          <img src="contato3.png">
          <p>Facebook</p>
        </a>
      </footer>
      <div class="informacao">® 2023 GEOGRAFIANEWS. Todos os direitos reservados. Serviço gratuito e assinatura paga. Conteúdo sujeito a disponibilidade.
     
    GEOGRAFIANEWS é um serviço gratuito, baseado em assinatura e sujeito a termos e condições, GEOGRAFIANEWS é um site virtual de Artigos escolares Gratuitos e Privados compartilhados por membros afiliados.
     
    Rua josé de Rosa, 470 - Santa Angelina, Agudos - SP, 18682-270, Brasil e CNPJ 12.345.678/0001-99</p><br>
    <p class="RODAPE">EMILY, ANA LÍVIA SANTOS, MILLENA, JOÃO, KAUÃ SALES, ADRIAN, CAINÃ, SARAH.</p></div>
</body>
</html>

