<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mostrar Tabelas</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img class="imagem" src="static/img/novors.png" width="45px" height="10px" alt="Logo RS">
         
        </div>
          <ul class="ul">
            <li> <a href="home/index.html"> home </a> </li>
            <li> <a href="#"> Quem somos </a> </li>
            <li> <a href="#"> Doações </a> </li>
            <li> <a href="#"> serviços </a> </li>
            <li> <a href="#"> contato </a> </li>
            <div class="close-icon">
              <span class="material-symbols-outlined">
    close
    </span>
            </div>
          </ul>
          <div class="menu-icon">
            <span class="material-symbols-outlined">
    menu
    </span>
          </div>
      </nav>
    <div class="containertabela">
    <h1>Tabela de Resgatados</h1>
    <table border="5" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Região</th>
                <th>Nome do Pai</th>
                <th>Nome da Mãe</th>
                <th>Irmãos</th>
                <th>Idade</th>
                <th>Filhos</th>
            </tr>
        </thead>
        <tbody>
            {% for resgatado in resgatados %}
            <tr>
                <td>{{ resgatado[0] }}</td>
                <td>{{ resgatado[1] }}</td>
                <td>{{ resgatado[2] }}</td>
                <td>{{ resgatado[3] }}</td>
                <td>{{ resgatado[4] }}</td>
                <td>{{ resgatado[5] }}</td>
                <td>{{ resgatado[6] }}</td>
                <td>{{ resgatado[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Tabela de Desaparecidos</h1>
    <table border="5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Seu Nome</th>
                <th>Nome Desaparecido</th>
                <th>Região</th>
                <th>Idade</th>
                <th>Seu Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for desaparecido in desaparecidos %}
            <tr>
                <td>{{ desaparecido[0] }}</td>
                <td>{{ desaparecido[1] }}</td>
                <td>{{ desaparecido[2] }}</td>
                <td>{{ desaparecido[3] }}</td>
                <td>{{ desaparecido[4] }}</td>
                <td>{{ desaparecido[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
